@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Risque|Roboto+Condensed');

body {
    margin: 0;
    width: 100%;
    height: 100%;
}
html{ 
    width: 100%;
    height:100%;
}
.wrapper {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

h2 {

    font: normal normal 4.25rem Roboto Condensed;
    margin: 0 auto;  
}

h3 {

    vertical-align: middle;
    color: #ffffff;
    text-shadow: 2px 2px 2px #333333;
    text-decoration: none;
    font: normal normal bold 1.25rem Roboto Condensed;
    font-variant: normal;
    white-space: normal;
    word-break: break-all;
}
.ulises-banner {
    text-align: center;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient(rgba(68, 66, 66, 0.5),rgba(134, 115, 115, 0.5)), url(http://ulisesibarra.com/photos/bg.jpg);


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


a#ulises-logo, h1{
	vertical-align: middle;
    color: #ffffff;
    text-shadow: 2px 2px 2px #333333;
    text-decoration: none;
    font: normal normal bold 5.25rem Roboto Condensed;
    font-variant: normal;
    white-space: normal;
    word-break: break-all;
}

.center-middle-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#banner-container {
    width: 100%;
}

.uli-header {
	background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.uli-header.uli-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
}
.uli-header-links {
	font: 2.25rem Raleway;
    webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}
.uli-header-links a {
	color: #fff;
    flex: 0 1 auto;
    margin-left: 10px;
    margin-right: 10px;
}
img#pb-icon{
	display: inline-block;
    margin-top: 10px;
}

#about-me {

    text-align: center;
    background-color: #020406;
    color: #fff;
}

#birth {
    font: 1.45rem Raleway;
    color: #fff;
}

.container {
    height: 28vh;
}

.things-i-do {

    font-size: 2.25rem;
    color: #fff;

}

.owl-carousel{
    display: block;
    margin: 0 auto;
}

.owl-carousel img{
    width: 500px;
    height: auto;
    margin: 0 auto;
}

 @media screen and (max-width: 900px){
     a#ulises-logo, h1 {
     	font-size: 4.25rem;
     }
     h2 {
        font: normal normal 4.25rem Roboto Condensed;
     }
 }
@media screen and (min-width: 200px) and (max-width: 450px){
     a#ulises-logo, h1 {
     	font-size: 3.25rem;
     }
    h2 {
        font: normal normal 3.25rem Roboto Condensed;
     }
 }